.button {
    padding: 10px 80px;
    font-size: 20px;
    color: $white;
    background: $dark-blue;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px $gray;
    cursor: pointer;
}
.button--small {
  padding: 10px 20px;
}

.button--green {
  background: $bright-green;
}

.button--red {
  background: $vivid-red;
}
