.card {
    width: 100%;
    @include breakpoint ($medium) {
        width: 50%;
    }

    @include breakpoint ($large) {
        width: 33.33%;
    }
}

    .card__container {
        display: block;
        margin: 20px;
        padding-bottom: 10px;
        min-height: 200px;
        background: $white;
        border: 1px solid $gray;
        border-radius: 5px;
        box-shadow: 0px 3px 13px 0px rgba($black, 0.62);
    }

    .card__container--add-card {
        position: relative;
        padding: 0;
        background: $gray;
        color: $white;
        text-shadow: -1px -1px 0 rgba($black, 0.5), 1px -1px 0 rgba($black, 0.5), -1px 1px 0 rgba($black, 0.5), 1px 1px 0 rgba($black, 0.5);
        cursor: pointer;

        &:before {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
            font-size: 91px;
            text-align: center;
            content: '+';
        }
    }


        .card__title {
            margin: 0 0 15px;
            padding: 10px 20px 0;
        }

        .card__content {
            padding: 0 20px;
        }

        .card__image {
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        @for $i from 1 through 6 {
            .card__image--stock-#{$i} {
                background-image: url(image-path('stock-'+ $i +'.jpg'));
            }
        }

.card--plus {
    position: relative;

    &:after {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -18px;
        margin-top: -30px;
        width: 34px;
        height: 60px;
        font-size: 60px;
        line-height: 1;
        content: '+';
    }
}
