.image-box {
    display: block;
    width: 100%;
    height: 200px;
    margin: 10px auto 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoint($medium) {
        width: 410px;
    }
}

.image-box--stock-1 {
    background-image: url(image-path('stock-1.jpg'));
}

.image-box--stock-2 {
    background-image: url(image-path('stock-2.jpg'));
}

.image-box--stock-3 {
    background-image: url(image-path('stock-3.jpg'));
}
