.inline-list {
  margin: 0;

  li {
    list-style: none;
    display: inline-block;
  }

  li + li {
    padding-left: 5px;

    &:before {
      padding-right: 5px;
      content: '|';
    }
  }
}

.inline-list--no-separator {
  li + li:before {
    content: '';
  }
}
