html,
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background: $very-light-gray;
}

.page-main {
    padding: 10px;

    @include breakpoint($medium) {
        margin: 0 auto;
        max-width: 1100px;
    }
}
