<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <title>Content Cards</title>
  </head>
  <body>
    <div id="app" class="app"></div>
  </body>
</html>
